.principal {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  max-width: 100dvw;
}

.content {
  max-width: 100dvw;
}
