.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.containerLinks {
  width: 38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textNavSel {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #7c9e85;
  cursor: pointer;
}

.textNav {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: black;
}
