.container {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.hamburger {
  display: none; /* Oculto por defecto en escritorio */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px; /* 3 barras de 3px + 2 espacios de 6px */
  cursor: pointer;
  z-index: 1001; /* Asegura que el botón esté sobre el menú */
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.containerLinks {
  margin-left: 1.2rem;
  width: 38rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.textNav {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.textNavSel {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #7c9e85;
  cursor: pointer;
}

.textNav:hover {
  color: #7c9e85; /* Color al pasar el ratón */
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
    margin-right: 1rem;
  }

  .containerLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
  }

  /* Clase 'open' cuando el menú está activo */
  .containerLinks.open {
    display: flex; /* Muestra el menú */
    transform: translateY(0); /* Lo desliza a su posición */
    opacity: 1;
    pointer-events: all; /* Hace que sea interactuable */
    width: 90%;
  }

  .textNav,
  .textNavSel {
    text-align: center;
    padding: 0.5rem 0.2rem;
    border-bottom: none;
  }
}
