.teamCard {
  width: 100%;
  max-width: 250px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  margin: 0 auto; /* Centra la tarjeta dentro de su Col */
}

.teamCard:hover {
  transform: translateY(-5px);
}

.cardImageContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamMemberImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.teamCard .cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.teamCard .cardText {
  font-size: 0.95rem;
  color: #6c757d;
}