

.principal {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.midContent {
  background-color: #ffffff;
}

.greenText{
  color: #7c9e85;
  font-weight:700;
  font-size: 24px;
  margin-bottom: 20px; /*espacio debajo del texto */
  line-height: 1.3;
}

.italicText{
  font-style: italic;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px; /*para la parte inferior del texto*/


}

.greyText{
  color:#8c8d8b;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.columText{
  display:flex;
  justify-content: space-between; 
  gap: 40px;
  padding: 40px 80px;

}

.colum1,.colum2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  font-family: 'Manrope', sans-serif;
}

