.frontPage {
  width: 100%;
  height: 45rem;
  background-image: url('../../../assets/images/homePage.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.frontContain {
  width: 45rem;
  /* height: 15rem; */
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  top: 50%; /* Mueve el borde superior al 50% del padre */
  left: 50%; /* Mueve el borde izquierdo al 50% del padre */
  transform: translate(
    -50%,
    -50%
  ); /* Ajusta para centrar el elemento por su propio centro */

  /* z-index para la capa superior */
  z-index: 2; /* Estará encima de .blurImage */

  /* Asegura que el texto sea legible */
  color: white; /* Color del texto */
}

.frontTitle {
  color: white;
  font-weight: 700;
  font-size: 4.3rem;
}

.frontText {
  color: white;
  font-size: 1.42rem;
}

.frontButton {
  background-color: #83a886; /* Color de fondo verde/oliva de la imagen */
  width: 17rem;
  color: #ffffff; /* Color del texto blanco */
  font-family: Arial, sans-serif; /* Puedes ajustar la fuente para que coincida exactamente */
  font-size: 1.1rem; /* Tamaño de fuente, puedes ajustarlo si es diferente */
  font-weight: 600; /* Peso de la fuente, parece semi-bold */
  padding: 0.8rem 2rem; /* Relleno interno del botón */
  border: none; /* Quita el borde por defecto */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Indica que es clickeable */
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Asegura que no haya subrayado si es un <a> */
  white-space: nowrap;
}

.frontButton:hover {
  background-color: #6a906e;
}

.blurImage {
  width: 100%;
  height: 100%; /* Ocupa todo el alto de su padre (.frontPage) */
  object-fit: cover; /* Cubre el área, similar a background-size: cover */

  /* Posicionamiento para superponer */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.leftColumn {
  padding-right: 2rem; /* Espacio entre las columnas en pantallas más grandes */
}
.lineContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -16px;
}

.mainTitle {
  color: #7c9e85; /* El color verde del título */
  font-size: 3rem; /* Ajusta el tamaño según necesites */
  font-weight: bold;
  margin-left: 1rem;
}

.verticalLine {
  border-left: 4px solid #7c9e85; /* Línea vertical verde */
  height: 150px; /* Ajusta la altura según necesites */
  margin-right: 2rem; /* Alinea al inicio de la columna */
}

.secondaryText {
  color: #242524; /* Color del texto secundario (gris oscuro) */
  font-size: 1.4rem; /* Ajusta el tamaño según necesites */
  font-weight: 700;
  font-style: italic;
}

.rightColumn {
  padding-left: 2rem; /* Espacio entre las columnas en pantallas más grandes */
}

.mainParagraph {
  color: #8c8d8b; /* El color gris claro del párrafo */
  font-size: 1.5rem; /* Ajusta el tamaño según necesites */
  line-height: 1.6; /* Mejora la legibilidad del párrafo */
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.mainParagraph2 {
  color: #8c8d8b; /* El color gris claro del párrafo */
  font-size: 1.5rem; /* Ajusta el tamaño según necesites */
  line-height: 1.6; /* Mejora la legibilidad del párrafo */
  text-align: center;
}

@media (max-width: 768px) {
  /* desde aqui */
  .frontPage {
    height: 30rem; /* Ajusta la altura en móviles */
  }

  .frontContain {
    width: 90%; /* Más ancho en móviles */
    /* height: auto; ya que es absolute, puedes gestionarlo por el contenido */
    padding: 1rem; /* Ajusta el padding */
  }

  .frontTitle {
    font-size: 2.5rem; /* Tamaño de fuente más pequeño */
  }

  .frontText {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }

  .frontButton {
    width: auto;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  /* hasta aqui */

  .leftColumn {
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .rightColumn {
    padding-left: 0;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .verticalLine {
    display: flex;
  }

  /* Puedes ajustar el padding del Container si las tarjetas están muy pegadas a los lados del móvil */
  .container.my-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* --- Media Query para Móviles --- */
@media (max-width: 768px) {
}
