.frontPage {
  max-width: 100%;
  height: 45rem;
  background-image: url('../../../assets/images/aboutUs.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlayBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 221, 221, 0.185);
  z-index: 1;
}

.frontContain {
  width: 45rem;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.frontTitle {
  color: white;
  font-weight: 700;
  font-size: 4.3rem;
}

.frontText {
  color: white;
  font-size: 1.42rem;
}

.blurImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.leftColumn {
  padding-right: 2rem;
}

.lineContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 58px;
}

.mainTitle {
  color: #7c9e85;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.verticalLine {
  border-left: 4px solid #7c9e85;
  height: 150px;
  margin-right: 2rem;
}

.secondaryText {
  color: #242524;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.rightColumn {
  padding-left: 2rem;
}

.mainParagraph {
  color: #8c8d8b;
  font-size: 1.5rem;
  line-height: 1.6;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.mainParagraph2 {
  color: #8c8d8b;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

.greenTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #7c9e85;
}

.tibetanImage {
  margin-top: 4rem;
}

.tibetanContent {
  height: 43rem;
}

.starText {
  color: #8c8d8b;
  font-size: 1rem;
}

.brownWallContainer {
  max-width: 100%;
  margin-top: 3rem;
  height: 18rem;
  background-color: #6f6953;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.brownWall {
  width: 100%;
}

.brownTitle {
  color: white;
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .frontPage {
    height: 30rem;
    max-width: 100%;
  }

  .frontContain {
    width: 100%;
    padding: 1rem;
  }

  .blurImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .frontTitle {
    font-size: 2.4rem;
  }

  .frontText {
    font-size: 1rem;
  }

  .greenTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #7c9e85;
  }

  .frontButton {
    width: auto;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  .leftColumn {
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .rightColumn {
    padding-left: 0;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .verticalLine {
    display: flex;
  }

  .container.my-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mainParagraph {
    color: #8c8d8b;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 1rem;
  }

  .mainParagraph2 {
    color: #8c8d8b;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .brownTitle {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
