.frontPage {
  width: 100%;
  height: 38rem;
  background-image: url('../../../assets/images/coreValues.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlayBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 221, 221, 0.4);
  z-index: 1;
}

.frontContain {
  width: 60rem;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.frontTitle {
  color: white;
  font-weight: 700;
  font-size: 4.1rem;
  margin-bottom: 2rem;
}

.frontText {
  color: white;
  font-size: 1.4rem;
}

.catContainer {
  width: 100%;
  height: 38rem;
  background-image: url('../../../assets/images/cat.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
