.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}
.mainParagraph2 {
  color: #8c8d8b; /* El color gris claro del párrafo */
  font-size: 1.3rem; /* Ajusta el tamaño según necesites */
  line-height: 1.6; /* Mejora la legibilidad del párrafo */
  text-align: center;
  padding: auto;
}
.containerHowHelpYou{
    max-width:80%;
    margin-bottom: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     border-radius: 10px;
     padding: 1.5rem;
     background-color: #fff;
     box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.08);
     margin-bottom: 2rem;
     height: 300px;
     width: 100%;
     transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
     
}
.card:hover {
    /* Nuevos estilos cuando el mouse está sobre la tarjeta */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Sombra más grande y/o oscura */
    transform: translateY(-5px); /* Opcional: Levanta ligeramente la tarjeta */
}


.cardText{
    color: #8c8d8b; /* Color de texto gris suave (equivalente a 'text-muted') */
    line-height: 1.5; 
    font-size: 0.95rem; 
    text-align: left;
    margin-bottom: 0;
}
.cardTitle {
    font-weight: bold; 
    color: #242524; 
    margin-bottom: 0.5rem;
    font-size: 1.25rem; 
}
.iconWrapper {
    margin-bottom: 1rem; 
    font-size: 8rem; 
    display: flex; 
    justify-content: center; /* Centra el ícono horizontalmente */
    align-items: center; /* Centra el ícono verticalmente */
    /* Circulo detras del icono */
    width: 50px;
    height: 50px;
    border-radius: 50%;  
}
.imgIcono{
    width:56px ;
    height:56px;
}

.buttonCards{
  padding: 0.7rem 1.5rem; 
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color:#ffffff;
  border-color: #7c9e85;
  border-width: 1px;
  border-style: solid;
  color:#7c9e85;
  width: auto;
  height: auto;
  opacity: 1;
  display: inline-block; 
  text-decoration: none;
  text-align: center;
  
}

.Row.g-4 { /* Si tu Row tiene la clase g-4 (gap) */
  align-items: stretch; /* Esto hace que las columnas dentro de la fila se estiren para tener la misma altura */
}

.containerButton{
    text-align: left;
    margin-top: auto;
    align-self: flex-start;
    display: inline-block;
}